@font-face{
    font-family: "Kiona";
    src: url('../font/kiona/Kiona-Regular.ttf'),
    /* url('../font/kiona/Kiona-Regular.ttf');  IE */
}
body, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Kiona', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.pricing-bg {
    text-align: center;
    background: #194888 !important;
    color: white;
  }