.header-bg {
    background-color: #1A4983;
}

.header {
    width: 90%;
    margin: 0 auto;
}

.header-link a {
    padding-top: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.05em;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-family: 'Kiona', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.header-link {
    padding-top: 24px;
}

.hidden {
    display: none;
}

.has_error {
    border: red 1px solid;
}
.modal-content{
    width:40rem !important
}

.rsMedia{
    width: 10px !important;
}

.imgSizing{
    padding-bottom: 6px;
}
.fxLabelMargin{
    margin-bottom: 0rem !important;
}

.fxTxtMarginBottom{
    margin-bottom:1rem;
}
@media screen and (max-width:768px){
    .modal-content{
      width: 24rem !important;
  
    }
    .modal-body{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .csButton{
        font-size: 24 !important;
        width: 8rem !important;
      }
  }