
.header-bg{
    background-color: #1A4983;
}
.header{
    width: 90%;
    margin: 0 auto;
}
.header-link a{
    padding-top: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.05em;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-family: 'Kiona', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.header-link{
    padding-top: 24px;
}